name: check
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  pre_commit:
    name: Pre-commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.10'
      - uses: pre-commit/action@v3.0.1

  test:
    name: Test on Python ${{ matrix.py }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        py:
          - "3.14"
          - "3.13"
          - "3.12"
          - "3.11"
          - "3.10"

    steps:
      - name: Setup python for test ${{ matrix.py }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.py }}
      - uses: actions/checkout@v6

      - name: Install tox-gh
        run: python -m pip install tox-gh
      - name: Run test suite
        run: tox
